html
  style.
    #hello {
    position: fixed;
    width: 60%;
    height: 30%;
    left: 20%;
    top: 35%;
    }
  body
    center
      #hello
        h2 NavGurukul.org
        h3
          | We are a bunch of IITd alum and self learnt programmers who are working to teach software engineering skills to people from humble backgrounds.
        h3
          | If this sounds interesting to you please contact us at contact@navgurkul.org. Would love to chat.
